@import 'tailwindcss';

@layer base{
       @font-face {
              font-family:Inter ;
              src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
       }

       body{
              font-family: Inter;
       }
       
}

@layer utilities{
       .row{
              @apply flex flex-wrap w-full
       }
}

@layer components{
       .link{
              @apply w-fit px-2 py-1 rounded-[5px] flex items-center justify-between gap-1 duration-500 hover:bg-gray-500/30 text-[16px] font-normal text-black border border-white *:capitalize
       }
       .headerIcon{
              @apply w-8 h-8 justify-center items-center flex hover:bg-gray-500/25 duration-500 rounded-[5px] cursor-pointer
       }

       .spanSpread{
              @apply w-full p-6 md:p-4 md:h-full md:w-10 grow flex items-center content-center  justify-center duration-500 hover:grow-5 hover:py-14 md:hover:py-5 flex-wrap cursor-pointer relative gap-5;
       }

       .colorCode{
             @apply text-white text-shadow-2xs shadow-olive-200 text-sm  hidden order-2
       }

       .btn{
              @apply w-5 h-5  md:w-10 md:h-10 rounded-full bg-gray-500/75 flex items-center justify-center absolute
              -bottom-2.5 left-[calc(50%-10px)] 
              md:-left-5  z-10 md:top-[calc(50%-20px)]
       }
       .refreshBtn{
              @apply w-5 md:w-full  flex items-center justify-center order-1 *:hover:stroke-gray-500
             
       }

       .lockBtn{
                @apply w-5 md:w-full  flex items-center justify-center order-3 *:hover:stroke-gray-500
       }
}

@theme{
       --color-blue: #2563eb;
}

